/*  Defaults */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Custom styles */

.csk-title {
    color: gold;
    font-weight: 700;
}

.mi-title {
    color: blue;
    font-weight: 700;
}